.green_img {
    width: 300px;
    height: 300px;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.disabledButton {
    background-color: #d8d8d8;
}

.outOfStock {
    text-decoration: line-through;
}

.inStock {
    color: green;
}